# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

*~
*.bbl
*.blg
*.log
*.aux
*.toc
*.synctex.gz
.DS_Store
*.flat
*.gdx
example.out
IntroSciComp.pdf

